.aboutus_img{
    width: 50% !important;
}
.aboutus_text{
    width: 20% !important;
    
}

.aboutus_title{
    text-align: center !important;
    font-size: 250% !important;
    color: blueviolet !important;

}