
.custom-cards {
    width: 23%; 
    height: 100px; 
    margin: 5px; 
  }

  .custom-cards .card-img-top {
    height: 100px; 
    object-fit: cover; 
  }
  
 
  .clients{
    text-align: center;
    font-size: 250%;
    color: blueviolet;

}
  