.me-auto{
    padding-left: 50%;
    font: bold;
}
.Quote{
    padding-left: 10%;
}
.companyname{
    font-size: 400%;
    color: blueviolet !important;
}

.custom-letter-spacing {
    word-spacing: -2px;
}