.custom-cards-testimonials {
    width: 30% !important; 
    height: 330px !important; 
    margin: 13px !important; 
  }
  
  
  .custom-cards-testimonials .card-body {
    height: 150px !important; 
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important; /* Align the button and text */
  }
  
  .d-flex {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
  }

  .testimonials{
    text-align: center !important;
    font-size: 250% !important;
    color: blueviolet !important;

}
.custom-cards-testimonials .card-title {
    font-size: 90% !important;
    padding-left: 180px !important;
  }